body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color:rgb(3, 199, 199);
    font-family: 'Architects Daughter', cursive;
}

#intro {
    background-color: rgb(7, 109, 109);
}
div {
    text-align: center;
    background-color: whitesmoke;
    border-bottom: 2px solid rgb(194, 191, 191);
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 15px;
    padding-bottom: 15px;
}

h1 {
    font-size: 40px;
    color:whitesmoke;
}

label {
    font-size: 20px;
    font-weight: bold;
}

input {
    height: 15px;
    width: 15px;
}

p {
    font-size: 18px;
}